body {
  background-color: whitesmoke;
  margin: 0;
}

.food-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-blog .food-post {
  width: 300px;
  margin: 30px 0;
}

.food-blog img {
  width: 100%;
}

/*styles for the blog*/

article.blog-container {
  font-size: 20px;
  padding: 0 10px 0 10px;
}

article.blog-container img {
  max-width: 100%;
}

article.blog-container p {
  line-height: 1.5;
  margin: 30px 0;
}

header.blog-header {
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

header.blog-header .subheading {
  font-size: 24px;
  margin: 10px 0 30px 0;
  font-weight: 600;
  line-height: 1.1;
}

header.blog-header h1 {
  font-size: 35px;
  margin: 20px 0 30px 0;
  line-height: 1.1;
}

header.blog-header p {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
}

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts a, .food-post a {
  color: #404040;
  text-decoration: none;
  transition: color ease 1s;
}

.post a:hover, .food-post a:hover {
  color: #E67850;
}

.posts .post {
  width: 90%;
}

.posts .post-title {
  font-size: 30px;
  margin: 30px 0 10px 0;
}

.posts .post-subtitle {
  margin: 0 0 10px 0;
  font-weight: 300;
}

.post .post-date {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}

@media only screen and (min-width: 961px) {
  .food-blog {
    flex-direction: initial;
    align-items: initial;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .posts .post {
    width: 60%;
  }
}
